<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a Palestinian master's student in Game Studies and recipient of the 2024 Brock Horizon Graduate Scholarship.
          I dream of a future where Palestine is so united and free that our people have naught but time to kill. One so bright we can't help but grin.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          In another life I was a full-stack developer with a focus on data and AI. I endeavour to use the knowledge I gained from that life for collective liberation. You can learn more about my skills and experience by clicking the button below and downloading my resume.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="Gabriel-Gebril-Resume.pdf" download="Gabriel-Gebril-Resume.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download My Resume
        </a>
      </div>
    </div>
  </div>
</section>
